body {
  margin: 0;
  padding: 0;
}

.app {
  padding: 20px;
}

.app__element {
  margin-bottom: 20px;
}

.linen {
  overflow: hidden;
  position: relative;
  background: #f0f0f0;
  user-select: none;
}

.linen__figure {
  position: absolute;
  border-radius: 10000px;
  text-align: center;
  font-family: "Tahoma", sans-serif;
  overflow: hidden;
}

.info-total-bar {
  float: left;
  clear: both;
  height: 40px;
}

.figure_type_positive {
  background-color: rgba(0, 127, 0, 0.5);
}

.figure_type_negative {
  background-color: rgba(255, 0, 0, 0.5);
}
